<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <!--<p>{{web}}</p>-->
    <p>{{github}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Soy estudiante de la Universidad del Valle de Guatemala del departamento de ciencias de la computación y tecnologías de la información. Actualmente estoy cursando el 3er año de la carrera y cuento con experiencia en diversas áreas del campo. Además, paralelamente soy estudiante de la carrera de Matemática aplicada de la misma institución en la cual estoy igual cursando el 3er año de la carrera. 
        <br><br>
        Cómo desarrollador de software tengo experiencia en el desarrollo de aplicaciones móviles con las tecnologías Flutter, Jetpack Compose, Swift UI. 
        También cuento con experiencia en el desarrollo de aplicaciones web, tanto de back-end como de front-end. Conozco utilizar las tecnologías de front end de HTML, CSS, JavaScript con los frameworks Angular, React, Vite y Next.Js. 
        Para el backend sé utilizar JavaScript y Rust con los frameworks ExpressJS y Axum. Además, también puedo utilizar las tecnologías de bases de datos relacionales SQL cómo PostgreSQL, MySQL, Oracle XE y para no relacionales MongoDB y Neo4J.
        <br><br>
        Por otro lado, del lado de la matemática pura tengo experiencia en el tema de Álgebra Lineal, Teoría de conjuntos, Teoría de números, Análisis, Teoría de Grupos y álgebra abstracta. Modelación con la ayuda del cálculo, conjuntos discretos y continuos, etc..

    </p>
</article>